	<mat-toolbar  class="topBar">

				<button mat-icon-button [routerLink]="['/multimediahome']">
            <mat-icon>arrow_back_ios_new</mat-icon>
          </button>

			<div fxFlex> </div>
			<div  fxFlex id="thename">
				HSC IPT STUDY RESOURCE
			</div>
			<div fxFlex > </div>
			<div fxHide.xs >
			</div>
		</mat-toolbar>
<body>
	<mat-card class="outercard">
<mat-card class="bodycard">
  <h1>What are Multimedia Systems?</h1>
  <p>Multimedia systems are systems that combine many different types of media to form interactive systems, with these types of media including video, audio, text and images.</p>
  <h1>Different Types of Media found in Multimedia Systems</h1>
  <h2>Text</h2>
  <p>Text is one of the most common forms of media, used in many systems to present the majority of information, found in headings, paragraphs, and menus. Text is generally represented through the use of ASCII (American Standard Code for Information Exchange) or EBCDIC (Extended Binary Coded Decimal Intechange Code), however Unicode is the common standard for text today, with higher limits than ASCII, which is limited to a maximum of 127 possible values, which is not usable for languages that require characters outside of the standard 26 character alphabet.</p>
  <img src="https://i.imgur.com/uBOZfGF.gif" class="tableimg" alt="The ASCII Table (Source: http://www.asciitable.com/)"><img src="https://i.imgur.com/J8henuD.png" class="tableimg" alt="The EBCDIC Table (Source: https://en.wikipedia.org/wiki/ASCII)">
  <p>The ASCII and EBCDIC Tables, <b>https://en.wikipedia.org/wiki/ASCII</b> and <b>http://www.asciitable.com/</b></p>
  <p>Unicode, first created in 1987, however, is not limited in this same way and allows for over a million different possibilities for characters. This is important for the representation of text, as many languages such as Japanese make use of many thousands of these characters.</p>
  <p>There are five types of typefaces used to represent text: <font face="serif">serif</font>, <font face="sans serif">sans serif</font>, script, monospaced, and display. It is important to choose an appropriate typeface for use depending on how you are using it.</p>
  
  <h3>Numbers</h3>
<p>Numbers are used to represent values such as integers, dates and times, booleans and decimals. Unlike all other media types, numbers have magnitude. They are represented similarly to text.</p>

<h2>Audio</h2>
<p>Audio is used to represent sound in a digital format. There are many file formats used to store audio, such as MP3, WAV, MID, OGG, FLAC and OPUS. Audio is often used to support other information, and is often combined with text and video, both separately and sometimes at the same time (e.g. Foreign Films and TV Shows subtitled into other languages)</p>

<p>Waves have two essential components, which are amplitude and frequency, and are represented as sine waves. Frequency determines the pitch of a sound, and is the number of times a wavelength occurs in a second, meaured in hertz. Amplitude is the distance from the origin of the wave, which is half a wavelength, and determines the volume of the sound, commonly measured in decibels.</p>
<h3>Compression</h3>
<p>Compression standards are set by the Moving Picture Experts Group (MPEG), such as MP3, which is short for MPEG audio layer 3. Being lossy, MP3 loses some detail in compression, but most listeners will not notice this missing sound.</p>
<h3>Midi</h3>
<p>Musical Instruments Digital Interface (MIDI) files allow for the representation of music in individual notes, and are used alongside files which contain the sounds of instruments to produce the music electronically.</p>

<h2>Images</h2>
<h3>Bitmap</h3>
<p></p>
<h3>Vector</h3>
<p></p>
  </mat-card>
	</mat-card>
  <br><br>
  </body>
<div class="whitespace"> &nbsp;</div>


	<mat-toolbar  class="footer">
			<div class="footerMenu">
				Multimedia
			</div>
		</mat-toolbar>